body {
	font-size:12px;
	font-family:arial;
	color:black;
	background-image: url(/wwud/images/bg.gif);
	background-position: center center;
	background-repeat: repeat-y;
	background-color:#DDDDDD;
}
td {
	font-size:12px;
	font-family:arial;
	color:black;
}
p {
	font-size:12px;
	font-family:arial;
	color:black;
}

.help {
	font-size:10px;
	font-family:arial;
	color:black;
}

.helpbox {
	border:1px solid gray;
	text-align:justify;
	padding:5px;
}

.help_header {
	background:#DDDDDD;
	text-align:center;
	padding:2px;
	font-weight:bold;
}

.editor_storymenu {
	background:#91CDF5;
	font-family:arial;
	font-size:12px;
	width:700px;
}

.tablehead {
	color:#111111;
	font-family:arial;
	font-size:14px;
	background-color : #EEEEEE;
	border: 1px solid black;
}
.mainmenu {
	color:#111111;
	font-family:arial;
	font-size:14px;
	background-color:#EEFFEE;
	border:1px solid black;
}
.node_control {
	color:#000000;
	font-family:arial;
	font-size:12px;
	background-color:#DDDDDD;
	text-align:center;
	border:1px solid black;
}
.membermenu {
	color:#111111;
	font-family:arial;
	font-size:14px;
	background-color:#FFEEEE;
	border: 1px solid black;
}

a {
	color:blue;
	text-decoration:none;
}
a.visited {
	color:blue;
	text-decoration:none;
}

.content {
	border:1px solid black;
	font-size:12px;
	font-family:arial;
	color:black;
	background-color:white;
}

.formlabel {
	font-weight:bold;
}

.formbox {
	border: 1px solid gray;
	background-color: white;
}

.editbox {
	border: 1px solid black;
	background-color: #EEEEEE;
	text-align:Center;
}

.error {
	color:red;
	font-weight:bold;
	text-align:center;
}
.success {
	color:green;
	font-weight:bold;
	text-align:center;
}

.largeprint {
	font-weight:bold;
	font-family:arial;
	font-size:22px;
}
.upload_image_window {
	width:400px;
	height:80px;
}

.node_window {
	width:220px;
	height:300px;
	overflow:-moz-scrollbars-horizontal;
	overflow-x:scroll;
	overflow-y:hidden;
}
.node_window_content {
	font-family:arial;
	font-size:12px;
	background:#EEEEFF;
	margin:3px;
}
.node_window_unit {
	font-family:arial;
	font-size:8px;
	width:190px;
	border:1px solid black;
	margin-bottom:10px;
}
