
html {
	background-color:#FFF;
}
body {
    background: url(/assets/images/bg1.png);
}
.container.content {
	padding-bottom:40px;
}
footer p {
	color:white;
	text-align:center;
	padding:20px;
}

body.user-login  {
	background: url(/assets/images/notebook.png);
}
body.user-login .panel-default {
	opacity: 0.9;
	margin-top:30px;
}

body.user-register  {
	background: url(/assets/images/notebook.png);
}
body.user-register .panel-default {
	opacity: 0.9;
	margin-top:30px;
}

.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/* Front Carousels */

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #FFF;
}
.col-item .photo img
{
	margin: 0 auto;
	width: 100%;
}

.col-item .info
{
	padding: 10px;
	border-radius: 0 0 5px 5px;
	margin-top: 1px;
}

.col-item:hover .info {
	background-color: #F5F5DC;
}
.col-item .price
{
	/*width: 50%;*/
	float: left;
	margin-top: 5px;
}

.col-item .price h5
{
	line-height: 20px;
	margin: 0;
}

.price-text-color
{
	color: #219FD1;
}

.col-item .info .rating
{
	color: #777;
}

.col-item .rating
{
	/*width: 50%;*/
	float: left;
	font-size: 17px;
	text-align: right;
	line-height: 52px;
	margin-bottom: 10px;
	height: 52px;
}

.col-item .separator
{
	border-top: 1px solid #E1E1E1;
}

.clear-left
{
	clear: left;
}

.col-item .separator p
{
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.col-item .separator p i
{
	margin-right: 5px;
}
.col-item .btn-add
{
	width: 50%;
	float: left;
}

.col-item .btn-add
{
	border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
	width: 50%;
	float: left;
	padding-left: 10px;
}
.controls
{
	margin-top: 20px;
}
[data-slide="prev"]
{
	margin-right: 10px;
}


/*******************************[ File Upload ]************************/
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-file {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.btn-file > input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.fileupload {
	margin-bottom: 9px;
}
.fileupload .uneditable-input {
	display: inline-block;
	margin-bottom: 0px;
	vertical-align: middle;
	cursor: text;
	overflow: hidden;                 /*Added this line*/
	max-height: 34px;                 /*Added this line*/
}
.fileupload .fileupload-preview {   /*Added this line*/
	line-height: 21px;                /*Added this line*/
}                                   /*Added this line*/
.fileupload .thumbnail {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}
.fileupload .thumbnail > img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
}
.fileupload .btn {
	vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
	display: none;
}
.fileupload-inline .fileupload-controls {
	display: inline;
}
/*==================================*/
/*.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}*/
/*change to this:*/
.fileupload-new .input-group .btn-file {
	-webkit-border-radius: 0 3px 3px 0 !important;
	-moz-border-radius: 0 3px 3px 0 !important;
	border-radius: 0 3px 3px 0 !important;
}
/*==================================*/
.thumbnail-borderless .thumbnail {
	border: none;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
	border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
	color: #a47e3c;
	border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
	color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
	border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
	color: #b94a48;
	border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
	color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
	border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
	color: #468847;
	border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
	color: #468847;
}
.control-group.success .fileupload .thumbnail {
	border-color: #468847;
}
/*********************************************************/

iframe.cover_upload {
	height:440px;
	border:none;
	overflow:hidden;
}

div#cu_form img {
	max-width:420px;
	max-height:420px;
	width:100%;
}

/************[       Book Box List       ]****************/
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
/*********************************************************/

#draggablePanelList .panel-heading {
	cursor: move;
}

nav.navbar {
    z-index:100;
}

ol.breadcrumb {
    background-color:rgb(74,74,74);
}
ol.breadcrumb a {
    color:#B1CBE1;
}
.navbar-inverse .navbar-brand {
    color: #c3c3c3;
}
.navbar-inverse .navbar-nav > li > a {
    color:#c3c3c3;
}

.navbar-admin {
    background: #FFF;
    margin-top:-20px;
}