<TABLE WIDTH="500" ALIGN="CENTER"><TR><TD ALIGN="CENTER">
	<P>You have made a bad request. This message appears when you attempt to break the sequential flow of a story-line. Most likley you tried to use the back button, which is prohibited in story-mode. This error can also happen if you have two stories open at the same time. Knowing is half the battle. 
</TD></TR></TABLE>
