<DIV CLASS="help_header">EDIT STORY HELP</DIV>
<CENTER><B>Instances</B></CENTER>
<DIV CLASS="node_control">
{INSTANCES}
<CENTER><SMALL>* indicates the story's starting instance</SMALL></CENTER>
</DIV>

{STORY_CONTROL}
