<TABLE WIDTH="700">
<TR>
<TD>
	<P>Thank you for taking interest into Fantacosm. This website was once just a simple program called WWUD, or "<I>What Would you Do</I>". The new layout is still in heavy beta and needs much work. You can help! Please report any bugs through the bug reporting system. If you need help then check out the online Help System.</P>

	<P>-- Fantacosm, Managment </P>
</TD></TD></TABLE>

