<!doctype html public "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <title>{TITLE}</title>
	<meta name="description" content="{DESCRIPTION}">
	<meta name="keywords" content="{KEYWORDS}">
	<LINK REL=StyleSheet HREF="{STYLE_SHEET}" TITLE="Contemporary" TYPE="text/css">
        <script language="JavaScript" type="text/javascript" src="js/html2xhtml.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/richtext.js"></script>
   </head>

<BODY {BODY_EXTRA}>

<table ALIGN="CENTER" CELLSPACING="0" CELLPADDING="0" BORDER="0">
<TR><TD ALIGN="CENTER" WIDTH="599" HEIGHT="22" BACKGROUND="images/index_03.gif" STYLE="padding-left:100px">

<TABLE WIDTH="100%"><TR><TD ALIGN="LEFT">
{MEMBER_MENU}
</TD><TD ALIGN="RIGHT" STYLE="padding-right:5px">
{LOGIN_INFO}
</TD></TR></TABLE>
</TD></TR>
<TR><TD>
<TABLE CELLSPACING="0" CELLPADDING="0"><TR><TD><IMG SRC="images/index_05.gif"></TD></TR><TR><TD HEIGHT="29" WIDTH="629" STYLE="padding-left:25px;padding-right:25px;" BACKGROUND="images/6.gif">{MAIN_MENU}</TD></TR>
</TABLE>
</TD></TR>
</table>
<BR>
<CENTER>
{CONTENT}
</CENTER>
</TABLE>
   </body>
</html>
