<BR>
<DIV class="largeprint">{USERNAME}</DIV>
<TABLE class="formbox"><TR><TD>

<TABLE><TR><TD VALIGN="TOP">

	<TABLE><TR><TD WIDTH="100">
	<IMG SRC="{AVATAR}">
	</TD></TR><TR><TD>
	{STATS}
	</TD></TR></TABLE>

</TD><TD VALIGN="TOP">

{BIO}
</TD></TR></TABLE>
