<script type="text/javascript">
var ns4 = (document.layers);
var ie4 = (document.all && !document.getElementById);
var ie5 = (document.all && document.getElementById);
var ns6 = (!document.all && document.getElementById);

function show(id){
	// Netscape 4
	if(ns4){
		document.layers[id].display = "block";
	}
	// Explorer 4
	else if(ie4){
		document.all[id].style.display = "block";
	}
	// W3C - Explorer 5+ and Netscape 6+
	else if(ie5 || ns6){
		document.getElementById(id).style.display = "block";
	}
}

function hide(id){
	// Netscape 4
	if(ns4){
		document.layers[id].display = "none";
	}
	// Explorer 4
	else if(ie4){
		document.all[id].style.display = "none";
	}
	// W3C - Explorer 5+ and Netscape 6+
	else if(ie5 || ns6){
		document.getElementById(id).style.display = "none";
	}
}
</script>
{SCRIPT}
<FORM NAME="upload_image_form" enctype="multipart/form-data" METHOD="POST" ACTION="?">
<TABLE HEIGHT="55" ID="UploadTable" STYLE="display:block" WIDTH="400">
<TR>
<TD WIDTH="55">{IMG_PREVIEW}</TD>
<TD> 
<CENTER>
<SMALL>Image can be GIF, JPG, PCX, PNG, TIFF.<BR>{NOTE}</SMALL>
</CENTER>
<INPUT TYPE="FILE" name="photofile"> <INPUT TYPE="SUBMIT" NAME="cmd" onClick="show('LoadingTable');hide('UploadTable');" value="Upload"> </TD>
</TR>
</TABLE>
<CENTER>
<TABLE HEIGHT="55" ID="LoadingTable" STYLE="display:none" ALIGN="CENTER" WIDTH="400">
<TR>
<TD WIDTH="20"> </TD>
<TD WIDTH="300">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,0,0" width="300" height="50" id="loading-animtation" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="flash/loading-animtation.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#eeeeee" />
<embed src="flash/loading-animtation.swf" quality="high" bgcolor="#eeeeee" width="300" height="50" name="loading-animtation" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
</TD>
<TD> </TD>
</TR>
</TABLE>
</CENTER>
</FORM>

