<P>An e-mail has been sent to the email address you specified. This email will have complete instructions on how to active your account.</P>
<P>Email ussually appears within a couple of minutes. In case of e-mail congestion, expect the email to arrive within 5 to 10 minutes.</P>
