@import  url("css/supersized.core.css");
@import url("css/jquery.countdown.css");

/*CSS3 webfont*/

@font-face {
    font-family: 'FanwoodRegular';
    src: url('fonts/fanwood-webfont-webfont.eot');
    src: url('fonts/fanwood-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fanwood-webfont-webfont.woff') format('woff'),
         url('fonts/fanwood-webfont-webfont.ttf') format('truetype'),
         url('fonts/fanwood-webfont-webfont.svg#FanwoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GearedRegular';
    src: url('fonts/gearedslab-webfont.eot');
    src: url('fonts/gearedslab-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gearedslab-webfont.woff') format('woff'),
         url('fonts/gearedslab-webfont.ttf') format('truetype'),
         url('fonts/gearedslab-webfont.svg#GearedSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*------General styles - for the paragraphs, fonts and others-------*/
*{ margin:0; padding:0; }
html, body {height:100%;width:100%;}
body { background:#111;}
	img { border:none; }
.clear {clear:both;}
.top-bar {
	background: url("images/top_bar.png") repeat-x;
	width:100%;
	height:6px;
}
.top-wrapper {
	width:434px;
	height:auto;
	margin:112px auto 68px auto;
	text-align: center;
}
.top-wrapper h3 {
	font-family: GearedRegular;
	font-size: 20px;
	
	font-weight: bold;
	color: #fff;
}
#main {
	background:url("images/main_bg.png") repeat-x;
	width:100%;
	height:409px;
	position: relative;
}
.main-wrapper {
	width:700px;
	padding:50px;
	margin:0px auto;
}
.main-wrapper .top-dash {
	background:url("images/dashed.png") no-repeat;
	height:10px;
	width:800px;
	position: absolute;
	top:-5px;
	left:50%;
	margin-left:-400px;
}
.main-wrapper .bottom-dash {
	background:url("images/dashed.png") no-repeat;
	height:10px;
	width:800px;
	position: absolute;
	bottom:-5px;
	left:50%;
	margin-left:-400px;
}
.main-wrapper p {
	font-family: 'FanwoodRegular';
	font-size: 16px;
	color:#ededed;
	line-height: 18px;
	margin-top: 5px;
	-webkit-text-shadow:0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow:0px 1px 1px rgba(0,0,0,.5);
	-ms-text-shadow:0px 1px 1px rgba(0,0,0,.5);
	-o-text-shadow:0px 1px 1px rgba(0,0,0,.5);
	text-shadow:0px 1px 1px rgba(0,0,0,.5);

}
.main-wrapper h3.big {
	font-family: 'GearedRegular';
	font-size:30px;
	color:#fff;
	line-height:38px;
	text-align:center;
	-webkit-text-shadow:0px 2px 3px rgba(0,0,0,.5);
	-moz-text-shadow:0px 2px 3px rgba(0,0,0,.5);
	-ms-text-shadow:0px 2px 3px rgba(0,0,0,.5);
	-o-text-shadow:0px 2px 3px rgba(0,0,0,.5);
	text-shadow:0px 2px 3px rgba(0,0,0,.5);
}
/*-------COUNTDOWN-------*/
#countdown {
	width: 510px;  
	display: inline;
	float: left;
	margin:20px 95px 0px 95px;
}

.numbers {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 75px;
	color:#fff;
	padding-right: 0px;
	padding-bottom: 10px;
	width: 510px;  
	height: 75px;	
	margin-left: auto;
	margin-right: auto;
}
.days {margin-left:0px !important;}			
.timer_numbers {
	float: left;   
	height: 75px; 
	width: 70px; 
	display: inline;
	position: relative;
	margin-top: 0px;
	margin-left: 62px;
	margin-right: auto;
	
}
 .labels {
	font-family: FanwoodRegular;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 80px;
	height: 16px;
	text-align:center;	
	padding-left:5px;
	margin-top:102px;
}

.timer_labels {
	height: 16px;
	text-align:center;	
	padding-right:1px;
	display: inline;
	position:relative;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	width: 80px;
	padding-left:0px;
	text-align:center;
	margin-right:5px;
	margin-left:1px;
} 

#timer_days_label {padding-left:12px;}
#timer_hours_label {padding-left:90px;}
#timer_mins_label {padding-left:68px;}
#timer_seconds_label {padding-left:53px;}

#timer_days {margin-left:18px;padding-right: 15px;}

/*------------SUBSCRIBE--------------*/
form.subscribe {
	margin:46px 0px;
}
form.subscribe input.email {
	background:rgba(16,16,16,0.6);
	/*The line below is for Mr Ie*/
	filter: alpha(opacity=70);
	height:31px;
	padding:7px 8px;
	width:514px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius: 14px;
    border:1px solid rgba(0,0,0,0.4);
    -webkit-box-shadow:inset 0px 1px 3px rgba(10,10,10,.5);
    -moz-box-shadow:inset 0px 1px 3px rgba(10,10,10,.5);
    box-shadow:inset 0px 1px 3px rgba(10,10,10,.5);
    font-family:"Times New Roman", Times, serif;
    font-size:17px;
    color:#ccc;
}
form.subscribe input.email:focus {
	outline:none;
}
form.subscribe input.submit {
	background:rgba(0,0,0,0.6);
	/*The line below is for Mr Ie*/
	filter: alpha(opacity=80);
	width:146px;
	height:47px;
	margin-left:10px;
	-webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius: 14px;
    font-family:"Times New Roman",Times, serif;
    font-size: 18px;
    text-transform: uppercase;
    color:#fff;
    border:none;
    outline: none;
}
form.subscribe input.submit:hover {
	background:rgba(16,16,16,0.8);
	/*The line below is for Mr Ie*/
	filter: alpha(opacity=90);
}
/*Form validation*/
#main p.good, #main p.bad, #main p.error {
	position:absolute;
}
#main p.bad {
	color:#ff3333;
	margin-left:2px;
}
#main p.error {
	color:#fa3e3e;
	font-weight:bold;
	margin-left:2px;
}


/*----------TWITTER STYLES----------*/
#tweets {
    width:326px;
    margin:10px 0 0 0;
    float:left;
}
#tweets div {
    font-family:"Times New Roman",Times;
    font-size:12px;
    float:left;
    color:#fff;
}
#jtwt_tweet {width:292px;}
#jtwt_loader {height: 0px;line-height: 0px;padding:0px;margin: 0;}
#jtwt_picture {margin:3px 10px 0px 0px;}
#jtwt {margin-bottom:10px;}
#tweets div a{
    font-family:"Times New Roman",Times;
    font-size:12px;
    color:#67d2ff;
    text-decoration:none;
}
#jtwt_date {margin-top:5px;}
div.footer .col .tw-img {
	float:left;
	margin-right:6px;
}
div.footer .col .tw {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	color:#5ab2d7;
	display: inline;
}
div.footer .col div.special {margin-top:30px;}


/*--------------FOOTER--------*/
div.footer {
	background: rgba(0,0,0,0.8);
	filter:alpha(opacity=90);
	width:700px;
	height:382px;
	position: fixed;
	padding:50px 50px 0px 50px;
	left:50%;
	margin-left: -400px;
	bottom:-600px;
	display:none;
	-webkit-border-topleft-radius:10px;
	-webkit-border-topright-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow:0px 2px 10px #000000;
}
a.more {
	outline: none;
	position: fixed;
	bottom:0px;
	left:50%;
	margin-left:-75px;
	width:149px;
	height:46px;
}
a.less {
	top:-46px;
	left:50%;
	margin-left:-75px;
	position: absolute;
	z-index: 9999;
}
div.footer .col {
    width:326px;
    height:auto;
    float:left;
}
div.footer .col h3 {
	font-family: Arial;
	font-size: 18px;
	color:#ededed;
	margin-top: -8px;
}
div.footer .col p {
	font-family: "Times New Roman", Times;
	font-size: 13px;
	color:#ededed;
	line-height: 16px;
	margin-top:10px;
}

/*----------SOCIAL MEDIA PART-----------*/
ul.social {
	position: absolute;
	bottom:40px;
	margin:0px auto;
	list-style: none;
}
ul.social li {
	float:left;
	margin-left:13px;
}
/*---------CONTACT FORM---------*/
div.second {
	width:334px;
	margin-left:40px;
	float:right;
	position: relative;
}
div.second label, div.second input {display: block;}
div.second label {
	float:left;
	width:69px;
	font-family: "Times New Roman",Times;
	font-size:16px;
	color:#787878;
	line-height: 32px;
}
div.second input {
	background: rgba(0,0,0,0.6);
	filter:alpha(opacity=90);
	padding:10px;
	height:12px;
	font-family:arial, sans-serif;
	font-size:14px;
	color:#999;
	width:245px;
	outline: none;
	border:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-bottom:30px;
}
div.second textarea {
	background: rgba(0,0,0,0.6);
	filter:alpha(opacity=80);
	padding:10px;
	width:314px;
	height:70px;
	font-size:12px;
	font-family:arial, sans-serif;
	color:#999;
	border:none;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
}
div.second textarea:focus {
	outline: none;
}
div.second input.cf {
	background: rgba(0,0,0,0.8);
	filter:alpha(opacity=95);
    width:146px;
    height:44px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    text-transform: uppercase;
    color:#919191;
    float:right;
    margin-top:20px;
}
div.second input.cf:hover {
	background: rgba(0,0,0,0.6);
	filter:alpha(opacity=85);
}
div.second p.good, div.second p.bad, div.second p.error {
	position:absolute;
}
div.second p.bad {
	color:#ff3333;
	margin-left:70px;
	top:45px;
}
div.second p.good {
	color:#fff;
	font-size:13px;
	top:45px;
	margin-left:70px;
}
div.second p.error {
	color:#fa3e3e;
	font-weight:bold;
	margin-left:70px;
	top:45px;
	font-size:13px;
}
div.second p.ngood, div.second p.nbad, div.second p.nerror, div.second p.nmess {
	position:absolute;
}
div.second p.nbad {
	color:#ff3333;
	margin-left:70px;
	top:-20px;
}
div.second p.ngood {
	color:#fff;
	font-size:13px;
	top:-17px;
	margin-left:70px;
}
div.second p.nerror {
	color:#fa3e3e;
	font-weight:bold;
	margin-left:70px;
	top:-17px;
	font-size:13px;
}
div.second p.nmess {
    top:100px;
    color:#fa3e3e;
	font-weight:bold;
	margin-left:70px;
	font-size:13px;
}
div.second textarea {overflow: auto;}

